.card-footer{
    background: #E6E1E1;
    display: flex;
    align-items: center;
    padding: 5px 10px;
    color: black;
    justify-content: left;
    width: 100%;
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
    z-index: 9;
}

.card-title {
    color: #fff;
    flex: 1;
}

.flex-1{
    flex: 1;
}