# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sfdx/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.vscode/settings.json
SF-Custom-Objects/salesforce_ant_46.0/sample/build.properties
sfdx-project.json
.vscode/settings.json
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/objects/myobj__c.object
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Chatter External User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Chatter Free User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Chatter Moderator User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/ContractManager.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/CPQ Integration User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Customer Community Plus User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Guest License User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Identity User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/MarketingProfile.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/oceanadmin Profile.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/oceandev Profile.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Standard.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/triggers/SAVI_FileUpload_Trigger.trigger
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/triggers/SAVI_FileUpload_Trigger.trigger-meta.xml
.history/*
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/ChangePasswordController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/ChangePasswordController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/ChangePasswordControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/ChangePasswordControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesLandingController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesLandingController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesLandingControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesLandingControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesLoginController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesLoginController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesLoginControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesLoginControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesSelfRegConfirmController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesSelfRegConfirmController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesSelfRegConfirmControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesSelfRegConfirmControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesSelfRegController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesSelfRegController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesSelfRegControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/CommunitiesSelfRegControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/ForgotPasswordController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/ForgotPasswordController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/ForgotPasswordControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/ForgotPasswordControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningForgotPasswordController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningForgotPasswordController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningForgotPasswordControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningForgotPasswordControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningLoginFormController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningLoginFormController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningLoginFormControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningLoginFormControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningSelfRegisterController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningSelfRegisterController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningSelfRegisterControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/LightningSelfRegisterControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/MyProfilePageController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/MyProfilePageController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/MyProfilePageControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/MyProfilePageControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SAVI_SacnStatusUpdate.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SAVI_SacnStatusUpdate.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SAVI_Upload_Controller.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SAVI_Upload_Controller.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SAVI_Utils.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SAVI_Utils.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SiteLoginController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SiteLoginController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SiteLoginControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SiteLoginControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SiteRegisterController.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SiteRegisterController.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SiteRegisterControllerTest.cls
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/classes/SiteRegisterControllerTest.cls-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/components/SiteFooter.component
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/components/SiteFooter.component-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/components/SiteHeader.component
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/components/SiteHeader.component-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/components/SiteLogin.component
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/components/SiteLogin.component-meta.xml
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/components/SitePoweredBy.component
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/components/SitePoweredBy.component-meta.xml
