# This file is used for Git repositories to specify intentionally untracked files that Git should ignore. 
# If you are not using git, you can delete this file. For more information see: https://git-scm.com/docs/gitignore
# For useful gitignore templates see: https://github.com/github/gitignore

# Salesforce cache
.sfdx/


# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# Eslint cache
.eslintcache

# MacOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
[Dd]esktop.ini
$RECYCLE.BIN/
.vscode/settings.json
SF-Custom-Objects/salesforce_ant_46.0/sample/build.properties
sfdx-project.json
.vscode/settings.json
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/objects/myobj__c.object
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Chatter External User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Chatter Free User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Chatter Moderator User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/ContractManager.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/CPQ Integration User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Customer Community Plus User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Guest License User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Identity User.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/MarketingProfile.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/oceanadmin Profile.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/oceandev Profile.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/ReadOnly.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/profiles/Standard.profile
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/triggers/SAVI_FileUpload_Trigger.trigger
SF-Custom-Objects/salesforce_ant_46.0/sample/retrieveUnpackaged/triggers/SAVI_FileUpload_Trigger.trigger-meta.xml
.history/*
