.toggle-bar{
    position: absolute;
    top: 23px;
    left: 19px;
    z-index: 999999;
    cursor: pointer;
}

.toggle-bar svg{
    fill: #fff;
    width: 20px;
}

.sf-sidebar{
    width: 200px;
    float: left;
    overflow: hidden;
    border-right: 1px solid #ddd;
    background: #fafafb;
    position: fixed;
    left: 0;
    top: 99px;
    height: calc(100vh - 145px);
    overflow-y: auto;
    overflow-x: hidden;
    padding-top: 10px;
}

.sf-sidebar a{
    color: #000 !important;
}

.sf-content{
    width: calc(100% - 215px);
    float: right;
    padding: 0 15px;
    min-height: 60vh;
}

.main-side{
    background-color:#FAFAFB
}