.text-sm {
    font-size: .875rem!important;
    margin-top: 1rem!important;
}

.news-div{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.news-div:last-child{
    border-bottom: 0px solid #ddd;
}

.news-div h2{
    font-size: 14px;
    margin-bottom: 5px !important;
}

.news-div p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.news-div a{
    color: #000;
}

.news-div .flex-1{
    width: calc(100% - 70px);
}

.notification-div{
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ddd;
}

.notification-div:last-child{
    border-bottom: 0px solid #ddd;
}

.notification-div h2{
    font-size: 14px;
    margin-bottom: 5px !important;
}

.notification-div p{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.notification-div a{
    color: #000;
}

.notification-div .flex-1{
    width: calc(100% - 70px);
}

.custom-card{
    padding: 10px 25px;
    height: 300px;
    overflow-x: hidden;
    overflow-y: auto;
}