.areview-button-wrapper {
  padding: 0;
}

.areview-btn-request_group {
  display: block;
  width: 100%;
}
.areview-btn.slds-button {
  color: #fff;
  width: 25%;
  text-align: center;
  display: inline-block;
  border-left: 1px solid #fff;
  padding: 6px;
  background-color: #037093;
  font-size: 14px;
}

.areview-btn.slds-button:hover {
  color: #037093;
  background-color: #fff;
  border: 1px solid #037093;
}

.arstatus-wrapper_bg {
  background: #ecebea;
}

.arstatus-wrapper_bg .p10 {
  padding: 9px;
}

.areview-action-wrapper {
  min-height: 200px;
}

.status-section-wrapper lightning-button {
  font-size: 12px;
}

.areview-ad-button-wrapper {
  text-align: center;
  margin: 15px 0;
}

.status-section-wrapper {
  padding: 20px;
  border: 1px solid rgb(212, 212, 212);
  background: #fff;
  border-radius: 5px;
}

.areview-status-check{
  padding: 0;
}
